name: Java CI with Maven

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven

      env:
        JWT_SECRET: "secreto_dummy_para_ci_testing_123456"
        DATASOURCE_PGS: "jdbc:postgresql://localhost:5432/dummy"
        DB_USERNAME: "dummy"
        DB_PASSWORD: "dummy"
      run: mvn -B clean verify -Dspring.profiles.active=test

    - name: Upload JaCoCo Report
      if: always() # Importante: Sube el reporte aunque fallen los tests
      uses: actions/upload-artifact@v4 
      with:
        name: jacoco-report
        path: target/site/jacoco/
        retention-days: 5